//= depend_on_asset "background.jpg"
html, body {
	display: block;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-image: url("background.jpg");
	
	background-size: cover;
}

header {
	margin-top: 0;
	height: 5em;
	background-color: rgba(41, 188, 113, 0.3);
	border-bottom: 1em;
	position: relative;
}

#choose_flight {
	position: absolute;
	margin: auto;
	overflow: auto;
	top: 1.5em;
	width: 100%;
	span {
		margin-left: 1.4%;
		color: #141F5B;
		font-family: "Times New Roman";
		font-size: 1.5em;
		font-weight: bold;
	}
}

content {
	height: auto;
	margin: 2em;
	display: block;
}
	.links_table {
		margin-top: 2em;
		background-color: rgba(41, 188, 113, 0.3);
		border: 0.5em rgba(41, 188, 113, 0.2) solid;
		width: auto;
		.flight_link {			
			text-align: center;
			padding: 2em 0.5em;
			height: 2em;
			:hover { background-color: rgba(41, 188, 113, 0.5) }
			a { 
				padding: 2em 0.5em; 
				font-size: bold;
			}
		}
	}
	.flight_info {
		text-align: center;
		padding: 1em;
		background-color: rgba(41, 188, 113, 0.5);
	}
	h1 {
		text-align: center;
	}
	.edit_flight {
		width: 100%;
		height: 100%;
		display: block;
		margin: auto;
		margin-top: 2em;
		color: #632D2D;
		input[type=submit] {
			margin-bottom: 0;
			width: 100%;
		}
		
		.passenger_form {
			box-sizing: border-box;
			width: 40%;
			display: inline-block;
			margin: 2% 7%;
			padding: 1em;
			overflow: auto;
			border: 0.5em rgba(41, 188, 113, 0.2) solid;
			input {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
			}
			span {
				padding-bottom: 1em;
				font-weight: bold;
			}
		}
}

.go_root {
	float: right;
	padding: 2em;
	background-color: rgba(63, 219, 122, 0.3)
}

#booking_logo {
	font-size: 4.4em;
	font-style: oblique;
}

.passenger_inform {
	
}

h1 {
	font-size: 2em;
	color: #01003E;
}

a {
	color: #6E000A;
	text-decoration: none;
}

.flash {

}
