<%= content_for :header do %>
	<%= render 'layouts/header_flight_info' %>
<% end %>

<div class='flight_info'>
	<%= @flight.info %>
</div>

<div class='passengers_info'>
	<span>Number of occupated places: <%= @flight.passengers.count %></span> 
</div>
